In [129]:
import pandas as pd
import datetime
import re
import numpy as np

In [9]:
df = pd.read_excel('C:/Users/Aidan/OneDrive - Simon Fraser University (1sfu)/Garbage Route Optimization/Weekly Weight and Tips/April 10, 2020.xls', 
                   sheet_name='Sheet1',
                  header=[0,1])

In [14]:
df.columns=df.columns.to_flat_index()

In [17]:
df = df.iloc[1:,] # Dropping the first row since it contains useless headers

In [134]:
# Creating data frames

# This contains granular info
dailyInfo = pd.DataFrame(columns=['date',
                                  'zone',
                                  'driver',
                                  'truckNumber',
                                  'garbageTips',
                                  'garbageWeight',
                                  'garbageTime',
                                 'recyclingTips',
                                 'recyclingWeight',
                                 'recyclingTime',
                                 'greenTips',
                                 'greenWeight',
                                 'greenTime'])

# This contains totals
dailyTotals = pd.DataFrame(columns=['date',
                                   'zone',
                                   'customers',
                                   'garbageSetOuts',
                                   'recyclingSetOuts',
                                  'greenSetOuts',
                                  'garbageTotal',
                                  'recyclingTotal',
                                  'greenTotal'])

In [135]:
# Regulard expression to capture the zone
zoneExpression = re.compile(r'[Zz]one\s*\S*')
customerExpression = re.compile(r'[Cc]ustomer')


# m = customerExpression.match('Customer')
# if m:
#     print("Yes")
# else:
#     print("No")

date = None
zone = None
i = 0
for i, row in df.iterrows():    
    # Extracting Values
    rowValues = list(row)
    print('Row:',i,'***************************************')
    print(rowValues)
    # Testing for the last row, if yes we stop
    if all(pd.isnull(i) for i in rowValues):
        break
    
    # These only get zeroed out when the date/zone changes
    # This is also detecting rows that contain totals, we deal with these later
    if customerExpression.match(str(rowValues[0])):
        date = None
        zone = None
        continue
    
    # Extracting the current date
    if isinstance(rowValues[0], datetime.datetime):
        date = rowValues[0]     

    
    if zone == None:
        zoneValues = [ word for i, word in enumerate(list(df.iloc[i,:])) if zoneExpression.match(str(word))]
        if len(zoneValues) > 0:
            zone = zoneValues[0]
            
            
    driver = rowValues[1]
    truckNumber = rowValues[2]
    garbageTips = rowValues[3]
    garbageWeight = rowValues[4]
    garbageTime = rowValues[5]
    recyclingTips = rowValues[6]
    recyclingWeight = rowValues[7]
    recyclingTime = rowValues[8]
    greenTips = rowValues[9]
    greenWeight = rowValues[10]
    greenTime = rowValues[11]
    
#     print(zone)
    
    dailyInfo = dailyInfo.append({'date':date,
                      'zone':zone,
                      'driver':driver,
                      'truckNumber':truckNumber,
                      'garbageTips':garbageTips,
                      'garbageWeight':garbageWeight,
                      'garbageTime':garbageTime,
                      'recyclingTips':recyclingTips,
                      'recyclingWeight':recyclingWeight,
                      'recyclingTime':recyclingTime,
                      'greenTips':greenTips,
                      'greenWeight':greenWeight,
                      'greenTime':greenTime},ignore_index=True)
    

    # Zeroing out values to prevent bad data
    if customerExpression.match(str(rowValues[0])):
        date = None
        zone = None
    
    
#     i+=1
#     if i > 8:
#         break

Row: 1 ***************************************
[datetime.datetime(2020, 3, 30, 0, 0), 'tm', 1521.0, nan, nan, nan, 360, 3145, 5, 78, 1550, 3, 'Garbage Total']
Row: 2 ***************************************
['Zone 2', nan, 1522.0, nan, nan, nan, nan, nan, nan, nan, nan, nan, 0]
Row: 3 ***************************************
[nan, 'sb', 1523.0, nan, nan, nan, 468, 3990, 5, 126, 2400, 3, 'Recycle Total']
Row: 4 ***************************************
[nan, 'jp', 1524.0, nan, nan, nan, 509, 4145, 5, 90, 1970, 3, 21480]
Row: 5 ***************************************
[nan, 'hd', 1525.0, nan, nan, nan, 418, 3510, 5, 96, 2010, 3, 'Green Total']
Row: 6 ***************************************
[nan, 'dh', 1527.0, nan, nan, nan, 370, 3180, 5, 100, 2030, 3, nan]
Row: 7 ***************************************
[nan, 'mp', 1528.0, nan, nan, nan, 407, 3510, 5, 121, 1620, 3, nan]
Row: 8 ***************************************
['Customers', nan, 2427.0, 0, 'Set-outs', nan, 0.8603238866396761, 'Set-outs', nan, 0.2018953440461475, 'Set-outs', nan, 11580]
Row: 9 ***************************************
[datetime.datetime(2020, 3, 31, 0, 0), 'tm', 1521.0, 413, 8200, 4, nan, nan, nan, 316, 8680, 4, 'Garbage Total']
Row: 10 ***************************************
['Zone 3', nan, 1522.0, nan, nan, nan, nan, nan, nan, nan, nan, nan, 43435]
Row: 11 ***************************************
[nan, 'sb', 1523.0, 452, 6570, 4, nan, nan, nan, 336, 5580, 4, 'Recycle Total']
Row: 12 ***************************************
[nan, 'jp', 1524.0, 529, 9045, 4, nan, nan, nan, 381, 8990, 4, 0]
Row: 13 ***************************************
[nan, 'hd', 1525.0, 345, 6920, 4, nan, nan, nan, 269, 7920, 4, 'Green Total']
Row: 14 ***************************************
[nan, 'dh', 1527.0, 406, 7585, 4, nan, nan, nan, 367, 9850, 4, nan]
Row: 15 ***************************************
[nan, 'mp', 1528.0, 400, 5115, 4, nan, nan, nan, 353, 5940, 4, nan]
Row: 16 ***************************************
['Customers', nan, 2160.0, 0.9930555555555556, 'Set-outs', nan, 0, 'Set-outs', nan, 0.7726851851851851, 'Set-outs', nan, 46960]
Row: 17 ***************************************
[datetime.datetime(2020, 4, 1, 0, 0), 'tm', 1521.0, 365, 5510, 4, nan, nan, nan, 344, 7270, 4, 'Garbage Total']
Row: 18 ***************************************
['Zone 4', nan, 1522.0, nan, nan, nan, nan, nan, nan, nan, nan, nan, 42165]
Row: 19 ***************************************
[nan, 'sb', 1523.0, 449, 6840, 4, nan, nan, nan, 329, 8040, 4, 'Recycle Total']
Row: 20 ***************************************
[nan, 'jp', 1524.0, 445, 8425, 4, nan, nan, nan, 418, 10140, 4, 0]
Row: 21 ***************************************
[nan, 'hd', 1525.0, 411, 7480, 4, nan, nan, nan, 298, 7140, 4, 'Green Total']
Row: 22 ***************************************
[nan, 'dh', 1527.0, 371, 6625, 4, nan, nan, nan, 367, 9740, 4, nan]
Row: 23 ***************************************
[nan, 'mp', 1528.0, 350, 7285, 4, nan, nan, nan, 356, 10560, 4, nan]
Row: 24 ***************************************
['Customers', nan, 2017.0, 1.0118988596926128, 'Set-outs', nan, 0, 'Set-outs', nan, 0.8705999008428359, 'Set-outs', nan, 52890]
Row: 25 ***************************************
[datetime.datetime(2020, 4, 2, 0, 0), 'tm', 1521.0, nan, nan, nan, nan, nan, nan, nan, nan, nan, 'Garbage Total']
Row: 26 ***************************************
['Zone 5', nan, 1522.0, nan, nan, nan, nan, nan, nan, nan, nan, nan, 30925]
Row: 27 ***************************************
[nan, 'sb', 1523.0, 490, 8110, 4, nan, nan, nan, 356, 5950, 4, 'Recycle Total']
Row: 28 ***************************************
[nan, 'jp', 1524.0, 514, 9835, 4, nan, nan, nan, 347, 7630, 4, 0]
Row: 29 ***************************************
[nan, 'hd', 1525.0, 347, 7140, 4, nan, nan, nan, 254, 6910, 4, 'Green Total']
Row: 30 ***************************************
[nan, 'dh', 1527.0, 432, 5840, 4, nan, nan, nan, 377, 5780, 4, nan]
Row: 31 ***************************************
[nan, 'mp', 1528.0, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan]
Row: 32 ***************************************
['Customers', nan, 2094.0, 0.8514804202483286, 'Set-outs', nan, 0, 'Set-outs', nan, 0.6370582617000955, 'Set-outs', nan, 26270]
Row: 33 ***************************************
[datetime.datetime(2020, 4, 3, 0, 0), 'tm', 1521.0, 347, 6760, 4, nan, nan, nan, 265, 6140, 4, 'Garbage Total']
Row: 34 ***************************************
['Zone 1', nan, 1522.0, nan, nan, nan, nan, nan, nan, nan, nan, nan, 45385]
Row: 35 ***************************************
[nan, 'sb', 1523.0, 349, 5860, 4, nan, nan, nan, 273, 5870, 4, 'Recycle Total']
Row: 36 ***************************************
[nan, 'jp', 1524.0, 397, 7985, 4, nan, nan, nan, 304, 6950, 4, 0]
Row: 37 ***************************************
[nan, 'hd', 1525.0, 350, 7130, 4, nan, nan, nan, 286, 6600, 4, 'Green Total']
Row: 38 ***************************************
[nan, 'dh', 1527.0, 384, 7135, 4, nan, nan, nan, 262, 5350, 4, nan]
Row: 39 ***************************************
[nan, 'jc', 1528.0, 518, 10515, 4, nan, nan, nan, 303, 7450, 4, nan]
Row: 40 ***************************************
['Customers', nan, 2418.0, 0.7555831265508685, 'Set-outs', nan, 0, 'Set-outs', nan, 0.5748552522746071, 'Set-outs', nan, 38360]
Row: 41 ***************************************
[datetime.datetime(2020, 4, 6, 0, 0), 'tm', 1521.0, 340, 6580, 4, nan, nan, nan, 253, 6520, 4, 'Garbage Total']
Row: 42 ***************************************
['Zone 2', nan, 1522.0, nan, nan, nan, nan, nan, nan, nan, nan, nan, 42665]
Row: 43 ***************************************
[nan, 'rs', 1523.0, 428, 7300, 4, nan, nan, nan, 313, 7690, 4, 'Recycle Total']
Row: 44 ***************************************
[nan, 'jp', 1524.0, 463, 8385, 4, nan, nan, nan, 315, 8060, 4, 0]
Row: 45 ***************************************
[nan, 'hd', 1525.0, 375, 7330, 4, nan, nan, nan, 300, 5840, 4, 'Green Total']
Row: 46 ***************************************
[nan, 'dh', 1527.0, 342, 6535, 4, nan, nan, nan, 312, 8430, 4, nan]
Row: 47 ***************************************
[nan, 'jc', 1528.0, 374, 6535, 4, nan, nan, nan, 309, 7400, 4, nan]
Row: 48 ***************************************
['Customers', nan, 2427.0, 0.8026370004120313, 'Set-outs', nan, 0, 'Set-outs', nan, 0.61516275236918, 'Set-outs', nan, 43940]
Row: 49 ***************************************
[datetime.datetime(2020, 4, 7, 0, 0), 'tm', 1521.0, nan, nan, nan, 395, 3485, 4, 150, 3340, 4, 'Garbage Total']
Row: 50 ***************************************
['Zone 3', nan, 1522.0, nan, nan, nan, nan, nan, nan, nan, nan, nan, 0]
Row: 51 ***************************************
[nan, 'sb', 1523.0, nan, nan, nan, 483, 3900, 4, 196, 1890, 4, 'Recycle Total']
Row: 52 ***************************************
[nan, 'jp', 1524.0, nan, nan, nan, 511, 4255, 4, 146, 2620, 4, 21980]
Row: 53 ***************************************
[nan, 'hd', 1525.0, nan, nan, nan, 384, 3160, 4, 153, 4000, 4, 'Green Total']
Row: 54 ***************************************
[nan, 'dh', 1527.0, nan, nan, nan, 450, 3590, 4, 236, 6950, 4, nan]
Row: 55 ***************************************
[nan, 'mp', 1528.0, nan, nan, nan, 390, 3590, 4, 149, 1500, 4, nan]
Row: 56 ***************************************
['Customers', nan, 2160.0, 0, 'Set-outs', nan, 0.9495941905168731, 'Set-outs', nan, 0.4078703703703704, 'Set-outs', nan, 20300]
Row: 57 ***************************************
[datetime.datetime(2020, 4, 8, 0, 0), 'jc', 1521.0, nan, nan, nan, 472, 4045, 4, nan, nan, nan, 'Garbage Total']
Row: 58 ***************************************
['Zone 4', 'jc', 1520.0, nan, nan, nan, nan, nan, nan, 253, 3900, 4, 0]
Row: 59 ***************************************
[nan, 'sb', 1523.0, nan, nan, nan, 501, 3660, 4, 233, 5230, 4, 'Recycle Total']
Row: 60 ***************************************
[nan, 'jp', 1524.0, nan, nan, nan, 531, 3985, 4, 219, 4510, 4, 22060]
Row: 61 ***************************************
[nan, 'hd', 1525.0, nan, nan, nan, 447, 3510, 4, 189, 4750, 4, 'Green Total']
Row: 62 ***************************************
[nan, 'dh', 1527.0, nan, nan, nan, 446, 3370, 4, 200, 4990, 4, nan]
Row: 63 ***************************************
[nan, 'mp', 1528.0, nan, nan, nan, 480, 3490, 4, 198, 6240, 4, nan]
Row: 64 ***************************************
['Customers', nan, 2017.0, 0, 'Set-outs', nan, 1.160774818401937, 'Set-outs', nan, 0.5423896876549331, 'Set-outs', nan, 29620]
Row: 65 ***************************************
[datetime.datetime(2020, 4, 9, 0, 0), 'rs', 1521.0, nan, nan, nan, 430, 2945, 4, 200, 3930, 4, 'Garbage Total']
Row: 66 ***************************************
['Zone 5', nan, 1522.0, nan, nan, nan, nan, nan, nan, nan, nan, nan, 0]
Row: 67 ***************************************
[nan, 'sb', 1523.0, nan, nan, nan, 441, 3300, 4, 196, 3430, 4, 'Recycle Total']
Row: 68 ***************************************
[nan, 'jp', 1524.0, nan, nan, nan, 456, 3535, 4, 178, 4430, 4, 15710]
Row: 69 ***************************************
[nan, 'hd', 1525.0, nan, nan, nan, nan, nan, nan, 117, 2500, 4, 'Green Total']
Row: 70 ***************************************
[nan, 'dh', 1527.0, nan, nan, nan, 334, 2380, 4, 162, 2080, 4, nan]
Row: 71 ***************************************
[nan, 'mp', 1528.0, nan, nan, nan, 380, 3550, 4, 89, 1960, 4, nan]
Row: 72 ***************************************
['Customers', nan, 2094.0, 0, 'Set-outs', nan, 0.6516280894468419, 'Set-outs', nan, 0.3299904489016237, 'Set-outs', nan, 18330]
Row: 73 ***************************************
[datetime.datetime(2020, 4, 10, 0, 0), 'tm', 1521.0, nan, nan, nan, nan, nan, nan, nan, nan, nan, 'Garbage Total']
Row: 74 ***************************************
[nan, nan, 1522.0, nan, nan, nan, nan, nan, nan, nan, nan, nan, 0]
Row: 75 ***************************************
[nan, 'sb', 1523.0, nan, nan, nan, nan, nan, nan, nan, nan, nan, 'Recycle Total']

Row: 76 ***************************************
[nan, 'jp', 1524.0, nan, nan, nan, nan, nan, nan, nan, nan, nan, 0]
Row: 77 ***************************************
[nan, 'hd', 1525.0, nan, nan, nan, nan, nan, nan, nan, nan, nan, 'Green Total']
Row: 78 ***************************************
[nan, 'dh', 1527.0, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan]
Row: 79 ***************************************
[nan, 'mp', 1528.0, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan]
Row: 80 ***************************************
['Customers', nan, 0.0, 0, 'Set-outs', nan, 0, 'Set-outs', nan, 0, 'Set-outs', nan, 0]
Row: 81 ***************************************
[nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan]

In [137]:
dailyInfo.to_csv('dailyInfo.csv')

In [ ]:
df.to_csv('delete.csv')